.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container > div {
  width: 33.33%;
  height: 5em;
  background-color: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
}
