.container {
  position: fixed;
  width: 100%;
  max-width: 30em;
  top: 0;
  display: flex;
  align-items: space-between;
}

.container > div {
  width: var(--wrapper-width);
  margin: 0 auto;
  text-align: right;
  padding: 0 0.5em 0 0;
}

.dropdown {
  position: relative;
  position: absolute;
  top: 4em;
  right: 0.5em;
  height: 0;
  width: 7em;
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.dropdown > ul > li {
  padding: 0.5em;
  border-bottom: 1px solid #000;
  background-color: #ffbf00;
  transition: background-color 0.4s linear;
}

.dropdown > ul > li:hover {
  background-color: #ff7f50;
}

.dropdown > ul > li + li {
  margin-top: 0.1em;
}

.open {
  height: auto;
  height: 10em;
}
