.page {
  margin: var(--nav-height) auto;
}

.content {
  display: flex;
  margin: 0 0 1.5em 0;
}

.content > div:first-child {
  margin: 0.25em 0 0 0;
}

.content h1 {
  font-size: 2em;
}

.content > div + div {
  flex: 4;
  text-align: justify;
  margin: 0 1em;
}

.content p {
  margin: 1em 0 0 0;
}

.image {
  border-radius: 1.5em;
}
