.main {
  display: flex;
  margin: 2em 0 0 0;
}

.main > div {
  margin: 0 1em;
}

.main > div:first-child {
  margin: 0.25em 0 0 0;
}

.main h1 {
  font-size: 2em;
}

.main > div + div {
  flex: 4;
  text-align: justify;
}

.main p {
  margin: 1em 0 0 0;
}

.image {
  border-radius: 1.5em;
}
