.wrapper {
  width: var(--wrapper-width);
  margin: var(--nav-height) auto;
}

.main {
  display: flex;
  margin: 0 0 1.5em 0;
}

.main > div:first-child {
  margin: 0.25em 0 0 0;
}

.main h1 {
  font-size: 2em;
}

.main > div + div {
  flex: 4;
  text-align: justify;
  margin: 0 1em;
}

.main p {
  margin: 1em 0 0 0;
}

.image {
  border-radius: 1.5em;
}
